<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="style.css">
    <title>Mystery Word</title>
</head>
<body>
    <h1>Want to Play a Game?</h1>

<form action="/index" id = "setting" method= "post">
    <input type="radio" name="difficulty" value="easy"> Easy<br>          
    <input type="radio" name="difficulty" value="normal"> Normal<br>
    <input type="radio" name="difficulty" value="hard"> Hard<br><br>

     <input type="submit">


</form>     
   
</body>
</html>